<div class="hkex-widgets-section h-100">
  <div class="row h-100">
    <div class="col-sm-1 col-md-2 col-lg-4 h-50" id="news-widget">
      <h3><a class="spf-link" href="/component/news?id=news-widget">News</a></h3>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-4 h-50" id="quick-link">
      <h3><a class="spf-link" href="/component/quick-link?id=quick-link"> Quick Link</a></h3>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-4 h-50" id="quick-link1">
      <h3><a class="spf-link" href="/component/quick-link?id=quick-link1"> Quick Link</a></h3>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-4 h-50" id="quick-link2">
      <h3><a class="spf-link" href="/component/quick-link?id=quick-link2"> Quick Link</a></h3>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-4 h-50" id="news-widget1">
      <h3><a class="spf-link" href="/component/news?id=news-widget1">News</a></h3>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-4 h-50" id="calendar-widget">
      <h3><a class="spf-link" href="/component/calendar?id=calendar-widget">Calendar</a></h3>
  </div>    
</div>