<footer>
	<div class="footer-container">
		<div class="footer__logo">
			<a href="#" title="HKEX Logo">
				<img src="/asserts/images/logo.png" alt="HKEX Logo">
			</a>
		</div>
		<ul class="footer__social-icons">
			<li>
				<a href="#" title="LinkedIn">
					<img src="/asserts/images/settings.png" alt="LinkedIn">
				</a>
			</li>
			<li>
				<a href="#" title="twitter">
					<img src="/asserts/images/settings.png" alt="Twitter">
				</a>
			</li>
			<li>
				<a href="#" title="Youtube">
					<img src="/asserts/images/settings.png" alt="YouTube">
				</a>
			</li>
			<li>
				<a href="#" title="wechat">
					<img src="/asserts/images/settings.png" alt="WeChat">
				</a>
			</li>
			<li>
				<a href="#" title="rss feed">
					<img src="/asserts/images/settings.png" alt="RSS feeds">
				</a>
			</li>
		</ul>
		<div class="footer__clearBoth"></div>
		<ul class="footer__nav">
			<li class="footer__nav-item">
				<a class="footer__nav-link" href="#" title="Contact">contact
				</a>
			</li>
			<li class="footer__nav-item">
				<a class="footer__nav-link" href="#" title="Career">career</a>
			</li>
			<li class="footer__nav-item">
				<a class="footer__nav-link" href="#" title="FAQ">faq</a>

			</li>
			<li class="footer__nav-item">
				<a class="footer__nav-link" href="#" title="Site Map">site map</a>
			</li>
			<li class="footer__nav-item">
				<a class="footer__nav-link" href="#" title="Glossary">glossary</a>

			</li>
			<li class="footer__nav-item">
				<a class="footer__nav-link" href="#" title="Disclaimer">disclaimer</a>

			</li>
			<li class="footer__nav-item">
				<a class="footer__nav-link" href="#" title="Hyperlink Policy">hyperlink policy</a>
			</li>
			<li class="footer__nav-item">
				<a class="footer__nav-link" href="#" title="Privacy Policy">privacy policy</a>
			</li>
		</ul>
		<div class="footer__clearBoth"></div>
		<p class="footer__privacy">
			©2016 Hong Kong Exchanges and Clearing Limited. All rights reserved
		</p>


	</div>
</footer>