<div class="card" draggable="true">
  <div class="card-title">NEWS</div>
  <div class="news">
    <div class="news-content">
      <a class="news-detail" href="#">CFETS and HKEX's Bond Connect Joint Venture BCCL Launches Website</a>
      <p class="news-date">30 Jun, 2017</p>
    </div>
    <div class="news-content">
      <a class="news-detail" href="#">Report on Initial Public Offering Applications, Delisting and Suspensions (As at 30 June 2017)</a>
      <p class="news-date">30 Jun, 2017</p>
    </div>
    <div class="news-content">
      <a class="news-detail" href="#">HKEX to Introduce CNH- and US$-traded Gold Futures on 10 July</a>
      <p class="news-date">29 Jun, 2017</p>
    </div>
    <div class="news-content">
      <a class="news-detail" href="#">HKEX seeks views on a proposed New Board and a review of the Growth Enterprise Market</a>
      <p class="news-date">29 Jun, 2017</p>
    </div>
    <!-- <a class="card-more news-more" href="#">View More</a> -->
  </div>
</div>