<div class="topbar">
	<ul>
		<li class="topbar__welcome-block">
			<p class="welcome-text">Good Morning, John!</p>
		</li>
		<li class="topbar__information-block">
			<div class="information-chart">
				<div class="small-chart-left">
					<p class="stockname">SHCOMP</p>
					<p class="stocknumber">3,195.91</p>
					<p class="stockrate">-0.09%</p>
				</div>
				<div class="small-chart-right">
					<div class="recent-rate red-font">-3.32</div>
					<img class="small-chart-image" src="/asserts/images/small-chart1.png" alt="chart1">
				</div>
			</div>
			<div class="information-chart">
				<div class="small-chart-left">
					<p class="stockname">HSI</p>
					<p class="stocknumber">25,195.42</p>
					<p class="stockrate">+1.19%</p>
				</div>
				<div class="small-chart-right">
					<div class="recent-rate green-font">+281.92</div>
					<img class="small-chart-image" src="/asserts/images/small-chart1.png" alt="chart1">
				</div>
			</div>
		</li>
		<li class="topbar__search-block">
			<i class="search-icon"></i>
			<div class="search-dropdown" id="search-dropdown">
				<input type="text" class="search-input" id="topbarSearch" name="topbarSearch" title="search website" placeholder="Search Website">
			</div>
		</li>
		<li class="topbar__notification-block">
			<i class="notification-icon"></i>
			<div class="notification-dropdown">
				<div class="notification-dropdown-item">
					<p class="notification-details-text">HKEX to Introduce CNH- and US$-traded Gold Futures on 10 July</p>
					<p class="notification-details-time">3 Hours ago</p>
				</div>
				<div class="notification-dropdown-item">
					<p class="notification-details-text">You have started filling the form:
						<a href="#" class="notification-details-link">External Position Transfer Request, </a> finish it now.</p>
					<p class="notification-details-time">6 Hours ago</p>
				</div>
				<a class="notification-view-more" href="#">View More</a>
			</div>
		</li>
		<li class="topbar__profile-block">
			<div class="profile-left">
				<div class="username">John Applebee</div>
				<div class="department">HSBC</div>
			</div>
			<div class="profile-right">
				<img class="profile-image" src="/asserts/images/profile.png" alt="username">
				<a class="profile-more-details" aria-haspopup="true" aria-expanded="false"></a>
				<div class="profile-dropdown">
					<a class="profile-dropdown-item">
						<i class="profile-icon"></i>
						<span>profile</span>
					</a>
					<a class="profile-dropdown-item">
						<i class="settings-icon"></i>
						<span>settings</span>
					</a>
					<a class="profile-dropdown-item">
						<i class="signout-icon"></i>
						<span>sign out</span>
					</a>
				</div>
			</div>
		</li>
	</ul>
</div>