<div class="navigation">
  <div class="logo">
      <img src="/asserts/images/logo.png" alt="HKEX logo">
    </div>
    <p class="nav-title text-muted px-3">Navigation</p>
    <ul class="nav palette flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="general"></i>
          <span>General Services</span>
        </a>
        <ul class="sub-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span>Settlement Services</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span>Depository Services</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span>Common Nominee Services</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="csd"></i>
          <span>CSD</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="risk"></i>
          <span>risk management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="collateral"></i>
          <span>collateral management</span>
        </a>
      </li>
    </ul>
    <p class="nav-title text-muted px-3 support">support</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="download"></i>
          <span>download</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="technical"></i>
          <span>technical standard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="settings"></i>
          <span>settings</span>
        </a>
      </li>
    </ul>
</div>